---
layout: layouts/home.njk
---

<script src="/redirect.js"></script>
<img src="./assets/profile-pic.jpeg" alt="picture of myself" class="profilePicture"/>
<h1>Hi, I'm Veronica.</h1>
<div class="presentation">
  <p>
    I'm Veronica, a fast learner and curious Fullstack developer with experience in JavaScript, TypeScript, React.js, Angular, Next.js, Node.js, NestJS, MongoDB, RESTful API's, NO-SQL, Docker, Ionic, Jest, SolidJS, and UX/UI.
  </p>
</div>
{% include "components/social_footer.njk" %}
<h3>Projects</h3>
<ul style="list-style-type: none" class="liMargin">
  <li>
    <a href="https://windows98-ui.netlify.app/" target="_blank">
      Windows 98 React UI</a>
  </li>
  <li>
      <a href="https://github.com/DigiChanges/solid-wizard" target="_blank">
        Solid Wizard</a>
    </li>
</ul>
<h3>My Blog</h3>
<ul style="list-style-type: none" class="liMargin">
  <li>
    <a href="/blog/windows-98-ui-project-experience" target="_blank">Windows 98 UI Project Experience</a>
  </li>
  <li>
    <a href="/blog/tips-for-getting-started-in-programming" target="_blank">Tips for Getting Started in Programming</a>
  </li>
  <li>
    <a href="/blog/contributing-to-an-open-source-project" target="_blank">My Experience in Contributing to an Open Source
      Project</a>
  </li>
</ul>
