---
layout: layouts/home.njk
---

<script src="/redirect.js"></script>
<img src="./assets/profile-pic.jpeg" alt="picture of myself" class="profilePicture"/>
<h1>Hi, I'm Veronica.</h1>
<div class="presentation">
  <p>
    I'm Veronica, a fast learner and curious Jr. Front-End developer specializing in React, Javascript and user
    interfaces.
  </p>
  <p>
    I have experience with JavaScript, TypeScript, React.js, HTML, CSS, Bootstrap, Git and Trello. Now I'm doing a Fullstack
    Bootcamp to expand my knowledge of Frontend development and learn not only Backend, but to work with a team and
    frameworks for project management like Scrum.
  </p>
</div>
{% include "components/social_footer.njk" %}
<h3>Projects</h3>
<ul style="list-style-type: none">
  <li>
    <a href="https://windows98-ui.netlify.app/" target="_blank">
      Windows 98 React UI</a>
  </li>
</ul>
<h3>My Blog</h3>
<ul style="list-style-type: none">
  <li>
    <a href="/blog/windows-98-ui-project-experience" target="_blank">Windows 98 UI Project Experience</a>
  </li>
</ul>