<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="icon" href="/assets/icon.png" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>

  <body>
    <style>
      body {
        background-color: rgb(255 255 255);
        font-family: Arial, Helvetica, sans-serif;
        margin: 1rem 5rem;
      }
      .container {
        max-width: 1000px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
      }
      .profilePicture {
        border-radius: 50%;
        width: 240px;
        margin-top: 30px;
      }
      h1 {
        margin-top: 5rem;
        font-size: 3rem
      }
      h2 {
        margin: 2rem 0;
      }
      h3 {
        margin: 3rem 0;
      }
      img {
        max-width: 600px
      }
      .presentation {
        padding: 0 40px 10px 40px;
        border-bottom-color: rgb(230, 230, 230);
        border-bottom-style: inset;
      }
      .icons {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-color: #f4f2f2;
        border-style: solid;
        transition: box-shadow 1s;
        max-width: 17.5rem;
        margin: 50px auto;
      }
      .icons:hover {
        box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
        -webkit-box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
        -moz-box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
      }
      .linkedinLogo,
      .githubLogo,
      .gmailLogo,
      .twitterLogo,
      .CVLogo {
        width: 36px;
        margin: 10px;
      }
      ul {
        padding: 0;
      }
    </style>
    <div class="container">
    {{ content | safe }}
    </div>
    <div class="container">
    <ul style="list-style-type: none" class="icons">
  <li>
    <a href="https://www.linkedin.com/in/veronica-dip/" target="_blank">
      <img
        src="/assets/linkedin-logo.png"
        alt="LinkedIn logo"
        class="linkedinLogo"
      />
    </a>
  </li>
  <li>
    <a href="https://github.com/veronicadip/" target="_blank">
      <img
        src="/assets/github-logo.png"
        alt="GitHub Logo"
        class="githubLogo"
      />
    </a>
  </li>
  <li>
    <a href="/Dip-Veronica-CV.pdf" target="_blank">
      <img src="/assets/resume.png" alt="Drawing of a resume" class="CVLogo" />
    </a>
  </li>
  <li>
    <a href="mailto:dipmveronica@gmail.com" target="_blank">
      <img src="/assets/gmail-logo.png" alt="Gmail logo" class="gmailLogo" />
    </a>
  </li>
  <li>
    <a href="https://twitter.com/mveronicadip" target="_blank">
      <img
        src="/assets/twitter-logo.png"
        alt="Twitter logo"
        class="twitterLogo"
      />
    </a>
  </li>
</ul>
</div>
  </body>
</html>
