<!DOCTYPE html>
<html>
  <head>
    <title>Veronica Dip</title>
    <link rel="icon" href="/assets/icon.png" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>

  <body>
    <style>
      body {
        background-color: rgb(255 255 255);
        font-family: Arial, Helvetica, sans-serif;
      }
      .container {
        max-width: 500px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .profilePicture {
        border-radius: 50%;
        width: 240px;
        margin-top: 30px;
      }
      h1 {
        margin-top: 40px;
      }
      .presentation {
        padding: 0 40px 10px 40px;
        border-bottom-color: rgb(230, 230, 230);
        border-bottom-style: inset;
      }
      .icons {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-color: #f4f2f2;
        border-style: solid;
        transition: box-shadow 1s;
        margin-top: 30px;
      }
      .icons:hover {
        box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
        -webkit-box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
        -moz-box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
      }
      .linkedinLogo,
      .githubLogo,
      .gmailLogo,
      .twitterLogo,
      .CVLogo {
        width: 36px;
        margin: 10px;
      }
      ul {
        padding: 0;
      }
    </style>
    <div class="container">
    {{ content | safe }}
    </div>
  </body>
</html>
