<style>
    .icons {
        display: flex;
        flex-direction: row;
        padding: 0;
        border-color: #f4f2f2;
        border-style: solid;
        transition: box-shadow 1s;
        max-width: 17.5rem;
        margin: 50px auto;
    }
    .icons:hover {
        box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
        -webkit-box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
        -moz-box-shadow: -8px 9px 10px -6px rgba(148, 148, 148, 0.75);
    }
    .CVLogo,
    .githubLogo,
    .gmailLogo,
    .linkedinLogo,
    .twitterLogo {
        width: 36px;
        margin: 10px;
    }
</style>

<ul style="list-style-type: none" class="icons">
    <li>
        <a href="https://www.linkedin.com/in/veronica-dip/" target="_blank">
            <img
        src="/assets/linkedin-logo.png"
        alt="LinkedIn logo"
        class="linkedinLogo"
/>
        </a>
    </li>
    <li>
        <a href="https://github.com/veronicadip/" target="_blank">
            <img
        src="/assets/github-logo.png"
        alt="GitHub Logo"
        class="githubLogo"
/>
        </a>
    </li>
    <li>
        <a href="/Dip-Veronica-CV.pdf" target="_blank">
            <img src="/assets/resume.png" alt="Drawing of a resume" class="CVLogo"/>
        </a>
    </li>
    <li>
        <a href="mailto:dipmveronica@gmail.com" target="_blank">
            <img src="/assets/gmail-logo.png" alt="Gmail logo" class="gmailLogo"/>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/mveronicadip" target="_blank">
            <img
        src="/assets/twitter-logo.png"
        alt="Twitter logo"
        class="twitterLogo"
/>
        </a>
    </li>
</ul>