<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/assets/icon.png"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
        background-color: rgb(255 255 255);
        font-family: 'Roboto', sans-serif;
      }
      .profilePicture {
        border-radius: 50%;
        width: 240px;
        margin-top: 30px;
      }
      ul {
        padding: 0;
      }
    </style>
    <div class="container">
      {{ content | safe }}
    </div>
    <div class="container"></div>
  </body>
</html>